body {
    background-color: rgb(62, 62, 250);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.627);
}

select {
    width: 150px;
}

div {
    padding: 10px;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}